
                                       /*    ISSUE PAGE CSS ( INDEX PAGE )     */


*{margin:0px;padding:0px;}
#body{background:#f5fafa;}
#bodywrapper{width:100%;background:;}

/*    Header CSS           */

#header{width:100%;background:;height:100px;border-bottom:3px solid steelblue;background:url('vertical_cloth.png');}
#headerimg{background:;width:800px;position:absolute;margin-top:5px;}
#headerimg img{position:absolute;left:90px;}

#linktohome{position:absolute;left:1023px;top:10px;width:;height:;background:;border-right:1px solid lavender;}
#linktohome a{display:block;color:lavender;text-decoration:none;padding-right:5px;}
#linktohome a:hover{text-decoration:underline;color:thistle;}



#linktoadminlogout{position:absolute;left:1080px;top:10px;width:;height:;background:;border-right:1px solid lavender;}
#linktoadminlogout a{display:block;color:lavender;text-decoration:none;padding-right:5px;}
#linktoadminlogout a:hover{text-decoration:underline;color:thistle;}

#linktoprint{position:absolute;left:1190px;top:10px;width:;height:;background:;padding-right:5px;border-right:1px solid lavender;}
#linktoprint img{cursor:pointer;}

/*     Result DIV CSS                    */

#result{width:1280px;margin:auto;background:#f5fafa;margin-top:10px;margin-bottom:50px;border:1px solid steelblue;}




/*    CSS OF THE DATA EXTRACTED              */

#txtHint{margin-top:10px;}
.table {width:1280px;border:2px solid steelblue;}
.table th{border:1px solid steelblue;padding:10px 0px;}
.table td{border:1px solid steelblue;padding:5px 0px;text-align:center;}

.table td.I_D{max-width:70px;min-width:50px;background:;}
.table td.NAME{max-width:80px;min-width:50px;background:;}
.table td.GROUP_NAME{max-width:70px;min-width:50px;background:;}
.table td.ISSUES{max-width:500px;min-width:500px;background:;}
.table td.ISSUES a{color:#0000CD;text-decoration:none;text-height:10px;}
.table td.ISSUES a:hover{color:#DC143C;text-decoration:underline;}
.table td.VOTES{max-width:70px;min-width:50px;background:#f3f3ff;}
.table td.ANSWER{max-width:70px;min-width:50px;background:#f7fff6;}
.table td.KNOWLEDGE{max-width:70px;min-width:50px;background:#fbf5ff;background:#f3f3ff;}
.table td.STATUS{max-width:100px;min-width:50px;background:;;}
.table td.DATE{max-width:100px;min-width:60px;background:;}



.table tr:nth-child(odd){background:#eee7da;}

.table th{background:#292b30;color:#cadae6;}





