*{margin:0px;padding:0px;}
#body{background:#f5fafa;}
#bodywrapper{width:100%;background:;}
#header{width:100%;background:;height:100px;border-bottom:3px solid steelblue;background:url('vertical_cloth.png');}
#headerimg{background:red;width:800px;position:absolute;margin-top:5px;}
#headerimg img{position:absolute;left:90px;}

#linktohome{position:absolute;left:863px;top:10px;width:;height:;background:;border-right:1px solid lavender;}
#linktohome a{display:block;color:lavender;text-decoration:none;padding-right:5px;}
#linktohome a:hover{text-decoration:underline;color:thistle;}

#linktoissuepage{position:absolute;left:920px;top:10px;width:;height:;background:;border-right:1px solid lavender;}
#linktoissuepage a{display:block;color:lavender;text-decoration:none;padding-right:5px;}
#linktoissuepage a:hover{text-decoration:underline;color:thistle;}

#linktoadminlogin{position:absolute;left:1080px;top:10px;width:;height:;background:;border-right:1px solid lavender;}
#linktoadminlogin a{display:block;color:lavender;text-decoration:none;padding-right:5px;}
#linktoadminlogin a:hover{text-decoration:underline;color:thistle;}


#linktosubmitissue{position:absolute;left:980px;top:10px;width:;height:;background:;border-right:1px solid lavender;}
#linktosubmitissue a{display:block;color:lavender;text-decoration:none;padding-right:5px;}
#linktosubmitissue a:hover{text-decoration:underline;color:thistle;}

#linktoadminlogout{position:absolute;left:1080px;top:10px;width:;height:;background:;border-right:1px solid lavender;}
#linktoadminlogout a{display:block;color:lavender;text-decoration:none;padding-right:5px;}
#linktoadminlogout a:hover{text-decoration:underline;color:thistle;}

#linktoleaderboard{position:absolute;left:1180px;top:10px;width:;height:;background:;border-right:1px solid lavender;}
#linktoleaderboard a{display:block;color:lavender;text-decoration:none;padding-right:5px;}
#linktoleaderboard a:hover{text-decoration:underline;color:thistle;}

#result{width:1280px;height:;margin:auto;background:#f5fafa/*green*/;margin-top:10px;margin-bottom:50px;border:1px solid steelblue;padding-bottom:20px;}


#row1{width:1277px;background:/*red*/;padding-bottom:20px;position:relative;border:2px solid steelblue;}
#wrapper{width:1080;}
#column1{width:200px;height:;background:/*green*/;float:left;}
#column2{width:1070px;background:/*blue*/;top:0px;margin-left:200px;}

#issue{width:1000px;background:#e6f0e1/*purple*/;margin:auto;padding:20px;font-family:arial;}
#detailedissue{width:990px;background:#e6f0e1/*purple*/;margin:auto;margin-top:10px;padding:10px;padding-left:40px;}
#attachment{width:994px;height:auto;background:#e6f0e1/*purple*/;margin:auto;margin-top:10px;padding:5px;padding-left:40px;}
#asked{width:200px;height:;background:#e6f0e1/*red8*/;margin-left:800px;margin-top:10px;padding:5px 10px;font-size:13px;}
#previouscomment{width:1014px;height:;background:#e6f0e1/*thistle*/;margin-top:10px;padding:8px;margin:auto;}
#addcomment{width:900px;height:20px;background:;padding:5px 20px;overflow:hidden;}
#addcomment h5{cursor:pointer;display:block;background:#e6f0e1;width:80px;margin-left:20px;}
#addcomment form{margin-left:20px;}
#row2{width:1280px;background:;padding-bottom:20px;position:relative;border-top:2px solid steelblue;border-bottom:2px solid steelblue;}
#answered{width:200px;height:;background:#e6f0e1/*red8*/;margin-left:1000px;margin-top:10px;padding:5px 10px;font-size:13px;}

#insertanswer{width:1280px;background:;padding:10px 0px;font-family:arial;}
#insertanswer div{margin-left:200px;}

.table {width:1278px;border-top:2px solid steelblue;border-bottom:2px solid steelblue;border-left:1px solid steelblue;border-right:1px solid steelblue;position:relative;margin:20px 0px;}
.table div:nth-child(1){width:200px;float:left;background:#e6f0e1;height:75px;border-bottom-left-radius:30px;border-top-right-radius:30px;font-family:arial;z-index:2;}
.table div:nth-child(2){width:200px;position:absolute;background:;margin-top:100px;height:40px;} /*      this one is been hidden .. its been renmoved */
.table div:nth-child(3){width:1000px;background:;margin-left:210px;padding:20px;}

.table div:nth-child(4){margin-left:1000px;margin-top:20px;}
.table div:nth-child(5){margin-left:1200px;}


.table .voteup{display:block;width:;background:;height:;position:absolute;top:0px;left:0px;}
.table .votefield{display:block;width:;background:;height:;position:absolute;top:25px;margin-left:100px;}
.table .votedown{display:block;width:;background:;height:;position:absolute;top:35px;margin-left:100px}



